/*-----------------------------------------------------------------------------

KENBURNER RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:   	1.0
date:      	07/27/11
author:		themepunch
email:     	support@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/



.boxedcontainer		{	max-width: 1170px; margin:auto; padding:0px 30px;}

/*********************************************
	-	SETTINGS FOR BANNER CONTAINERS	-
**********************************************/

.tp-banner-container{
	width:100%;
	position:relative;
	padding:0;

}

.tp-banner{
	width:100%;
	position:relative;
}

.tp-banner-fullscreen-container {
		width:100%;
		position:relative;
		padding:0;
}
.logo a {
	font-size:  24px;
	color:  #25D6D1;
	padding: 5px;
	border:  1px solid;
	display: block;
	margin-top: 10px;
	text-decoration: none;
}
.lf_auth_links div {
	display: inline-block;
	text-align: right;
}
.lf_auth_links {
	text-align: right;
}
.lf_auth_links a {
	border:  1px solid #25D6D1;
	margin: 0 5px;
	color: #25D6D1;
}
a.nav-link.lf_new_topic_btn {
	background:  #25D6D1;
	color: #fff;
}

.headernav button.btn.btn-default {
	background:  #25D6D1;
	border: navajowhite;
}

.headernav input.form-control {
	background: #ddd!important;
	width: 100%;
}

.headernav .search .txt {
	width: 88.5%;
}

.offset-md-2.col-md-8.lf_auth_form {}

.lf_auth_form {
	padding: 50px 0;
}

.lf_auth_form h2 {
	color:  #25D6D1;
	font-size:  28px;
	margin: 20px 0;
	text-align:  center;
	border-bottom: 1px solid;
	padding-bottom: 10px;
}

.btn.btn-primary {
	background: #25D6D1!important;
}
.btn.btn-link {
	color:  #25D6D1;
	text-decoration: none;
}
.lf_page_title {
	padding: 10px 0;
	color: #25D6D1;
	text-align: center;
	margin: 20px 0;
}
.form-control {
	padding: 10px;
	font-size:  14px;
	border: 1px solid #25D6D1;
}

.form-group label {
	font-size:  14px;
}

.col-md-8.lf_topics_wrapper,.lf_sidebar_wrapper {
	margin: 20px 0;
}
.page-item.active .page-link {
	background-color: #25D6D1;
	border-color: #25D6D1;
}

.page-item .page-link {
	color: #25D6D1;
}
.alert.alert-success {
	background:  #25D6D1;
	color: #fff;
	border: navajowhite;
}

.lf_icons {
	margin:  10px 0;
	text-align: center;
	font-size:24px;

}
.lf_icons i{
	cursor:pointer;
}

.lf_edit i {
	color: #25D6D1;
}

.lf_del button {
	background:none;
	border:none;
	color:#f48989

}
.lf_del button:active, .lf_del button:focus, .lf_del button:hover {
	border: none;
	box-shadow: none;
	outline: none;
}
p.lf_points {
	text-align:  center;
	background:  #25D6D1;
	color:  #fff;
	border-radius:  50%;
	height: 30px;
	width: 30px;
	line-height:  30px;
	margin: 10px 0!important;
}
.lf_wrap_content {
	background-color: #ffffff;
	border-radius: 2px;
	box-shadow: 0 1px 2px #c9cccd;
	margin-bottom: 20px;
	padding: 15px ;
	margin-top: 20px;
}

.lf_auth_links .nav-item.dropdown:hover .dropdown-menu {
	display: block;
	border-top: 1px solid #c9cccd;
}

.lf_auth_links .nav-item.dropdown .dropdown-menu {
	display: none;
	text-align: right;
	right: 0;
	float:  none;
	top: 95%;
	left: auto;
	border: navajowhite;
	border-radius:  0;
	background:  #25D6D1;
	color: #fff;
}

.lf_auth_links  a.dropdown-item {
	color: #fff;
	padding: 0 10px;
	margin: 0;
}

.lf_auth_links a.dropdown-item:hover,.lf_auth_links a.dropdown-item:focus,.lf_auth_links a.dropdown-item:active {
	background: none;
}
